---
layout: default
---

<section class="posts">
  <div class="intro">
    <strong>Christoph</strong>
    <span>Physics, neuroscience, counterpoint.</span>
  </div>

  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
  <h2 class="year">{{ year.name }}</h2>
  <ul>
    {% for post in year.items %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d" }}</time></li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>

